@charset "UTF-8";
#page{
	width:1000px;
	height:700px;
	border: 1px solid blue;
	margin: 3px 46px 20px 46px;
    padding: 10px 10px 10px 10px;
}
#header{
	height: 50px; 
	border: 1px solid red;
}
#header .logo{
	width: 319px; 
	height: 50px; 
	background:url("../image/ruianjinrong_log.png");
	float:left;
}

#header .logo_text{
	width: 319px; 
	height: 50px; 
	float:right;
	line-height: 50px;
	font-family: 微软雅黑;
	letter-spacing: 10px;
    font-size: xx-large;
    font-family: 微软雅黑;
}

#contents{
	width: 1000px;
	border: 1px solid blue;
}
#contents .c_left{
	width: 100px;
	height: 500px; 
	border: 1px solid red;
	float: left;
	margin-top: 18px;
	height: 519px;

		
}

#contents .c_left .c_left_list{
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    position: relative;
    margin-left:30px;
	margin-right:auto;
}


#contents .c_right{
	float:right;
	width: 862px; 
	height: 500px;
	border: 1px solid red;
	padding: 10px 10px;
	margin-top: 18px;
}

#main{
	width: 800px;
	height:400px;
	border:1px solid red;
	overflow-x: auto;
}

#main .table_row{
    margin: 2px 4px 2px 10px;
    border: groove 1px;
    float: left;
    display: inline-flex;
    
}

#main .table_row_column_name{
    margin: 16px 4px 10px 10px;
    border: groove 1px;
    float: left;
    display: inline-flex;
}

#main .table_row_column_name .column_name{
    float: left;
    margin: 6px 1px 6px 6px;
    border: groove 4px;
    width: 48px;
    height: 19px;
    font-size: 12px;
}

#main .table_row .column{
    float: left;
    margin: 4px 1px 4px 6px;
    border: groove 4px;
    width: 100px;
    height: 19px;
    font-size: 12px;
}


#footer{
	float:left;
	width: 1000px; 
	height: 50px; 
	border:1px solid red;
	margin:20px 0px;
}